body {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-left: 350px;
  margin-right: 350px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2c5e92), color-stop(80%, #552f6d));
  background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%); }

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  transform: translate(-50%);
  left: 50%;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  box-sizing: border-box;
  padding: 0 150px; }
  header h1 {
    margin: 15px 0; }
  header div {
    margin: auto 0; }
  header a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    transition: 150ms; }
    header a:hover {
      color: #e2dddd; }
  header #submit-button {
    background: none;
    border: none;
    font-size: inherit;
    color: white;
    font-family: inherit;
    outline: none;
    transition: 150ms; }
    header #submit-button:focus {
      outline: none; }
    header #submit-button:hover {
      color: #e2dddd; }

content {
  display: flex;
  flex-wrap: wrap; }
  content .item {
    padding: 2%;
    width: 18%;
    background: white;
    font-size: .9em;
    margin-bottom: 5px;
    margin-top: 10px; }
    content .item:not(:first-child) {
      margin-left: 2.5%; }
    content .item:hover > input {
      display: block; }
  content input {
    position: absolute; }
  content div.item-info {
    text-align: center; }
    content div.item-info p {
      margin: 0; }
  content .item:not(:nth-child(5)), content .item:not(:first-child) {
    margin-left: 2.5%; }
  content .item input:not(:checked) {
    display: none; }

footer {
  text-align: center;
  background: whitesmoke;
  color: black;
  width: 100vw;
  transform: translate(-50%);
  left: 50%;
  position: fixed;
  bottom: 0; }

.input-form {
  width: 50%;
  margin: 100px auto auto;
  color: white; }
  .input-form select {
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.4); }
  .input-form input {
    background-color: rgba(255, 255, 255, 0.4);
    border: none; }
  .input-form .field {
    display: flex;
    justify-content: space-between;
    margin: 6px; }
  .input-form .hidden {
    display: none; }

/*# sourceMappingURL=style.css.map */
